---
import GlobalStyles from '../components/GlobalStyles.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<GlobalStyles />
	</body>
</html>
<style is:global>
	:root {
		--purple: 289, 50%, 28%;
		--blueDark: 240, 51%, 17%;
		--pink: 330, 93%, 46%;
		--orange: 27, 88%, 54%;
		--fuccia: 180, 86%, 38%;

	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	* {
		box-sizing: border-box;
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
