---
import GlobalStyles from '../components/GlobalStyles/index.astro';
import Favicon from '../components/meta/Favicon.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
const pageTitle = `Chill Calchaqui${title ? `| ${title}` : ''}`
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<GlobalStyles />
	</body>
</html>
